{% extends 'layout.twig' %}

{% block content %}

    <section id="post">
        <div class="card m-3 p-1">
            <div class="row g-0">
                <div class="col-md-2 col-xs-12">
                    <img src="{{ post.picture }}" class="card-img-top" alt="Responsive image">
                </div>
                <div class="col-md-10 col-xs-12">
                    <div class="card-body">
                        <h4 class="card-title color-perso2">{{ post.title }}</h4>
                        <div class="row mb-2">
                            <div class="col-6">
                                <p class="card-text">
                                    <small class="text-muted">modifié le {{ post.updatedAt|date('d/m/Y') }}</small>
                                </p>
                            </div>
                            <div class="col-6 text-right">
                                <span class="badge bg-perso3 color-perso2 p-2">{{ category.name|upper }}</span>
                            </div>
                        </div>
                        <p class="card-text text-justify">{{ post.content|raw|nl2br }}</p>
                        <p class="card-subtitle mb-2 text-muted">Auteur : {{ user.firstname }} {{ user.lastname }}</p>
                        <a href="/articles" class="btn bg-light border offset-md-8 col-md-4 col-xs-12 p-2">
                            Retour à la liste des articles</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-3 p-2">
            <h4 class="color-perso2">Ajouter un commentaire</h4>

            <form action="/articles/{{ post.id }}" method="post">
                {{ form|raw }}

                <button type="submit" class="btn bg-light border offset-md-10 col-md-2 col-xs-12 p-2">Envoyer</button>
            </form>

            {% for message in session.flashbag.get('add-comment') %}
                <div class="alert alert-success m-2">{{ message }}</div>
            {% endfor %}

        </div>

        <div class="m-3 p-1">
            <h4 class="color-perso2">Commentaires</h4>

            {% for comment in comments %}
                <div class="card mb-3">
                    <div class="card-body text-justify">
                        <span class="card-title color-perso1">{{ comment.author }}</span>
                        <span class="card-subtitle mb-2 text-muted "><small>le {{ comment.createdAt }}</small></span>
                        <br/>
                        <span class="card-text">{{ comment.content }}</span>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}