{% extends 'layout.twig' %}

{% block content %}

    <div class="row m-3 p-1">
        <div class="col-12 text-center">
            <h2 class="text-perso2 color-perso2">Retrouvez l'ensemble des articles</h2>
        </div>
    </div>

    {% for post in posts %}

    <section id="posts">
        <div class="card m-3 p-1">
            <div class="row g-0">
                <div class="col-md-2 my-auto mx-auto">
                    <img src="{{ post.picture }}" class="card-img-top" alt="Responsive image">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title color-perso2">{{ post.title }}</h4>
                        <p class="card-text"><small class="text-muted">modifié le {{ post.updatedAt|date('d/m/Y') }}</small></p>
                        <p class="card-text text-justify">{{ post.chapo }}</p>
                        <a href="/articles/{{ post.id }}" class="btn bg-light border offset-10 col-2 p-1">lire la suite</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endfor %}

{% endblock %}