{% extends 'layout.twig' %}

{% block content %}

    <section id="readPost">
        <div class="card m-3 p-1">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{ post.picture }}" class="card-img-top" alt="Responsive image">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title color-perso2">{{ post.title }}</h4>
                        <div class="row mb-2">
                            <div class="col-6">
                                <p class="card-text">
                                    <small class="text-muted">modifié le {{ post.updatedAt|date('d/m/Y') }}</small>
                                </p>
                            </div>
                            <div class="col-6 text-right">
                                <span class="badge bg-perso3 color-perso2 p-2">{{ category.name|upper }}</span>
                            </div>
                        </div>
                        <p class="card-text text-justify">{{ post.content|raw|nl2br }}</p>
                        <p class="card-subtitle mb-2 text-muted">Auteur : {{ user.firstname }} {{ user.lastname }}</p>
                        <a href="/adminpost" class="btn btn-outline-light border offset-8 col-4 p-2">
                            Retour à la gestion des articles</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}